<h1>Post a Secret!</h1>

<form action="<%= secret_url %>" method="post" accept-charset="utf-8">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Title<input id="secretText" type="text" name="secret[title]"></label>
  <input type="hidden" name="secret[recipient_id]" value="<%=@user.id%>">
  <p><input type="submit" value="Submit"></p>
</form>